.body{
    background-color:lightgray;
}

#childinfo {
    background-color: lightgrey;
    border-style: solid;
    width: 600px;
    height:300px;
    float: right;
    position: relative;
    right: 10px;

}

#allergicinfo {
    background-color: lightgrey;
    height: 50%;
    width: 50%;
    float: right ;
    right: 50px;
    top:-140px;
    position: relative;
}

#boxmiddel {
    background-color: gainsboro;
    height: 500px;
    width: 200px;
}

#inboxs {
    color: gold;
    height: 200px;
    width: 100px;
    border-style: solid;

}

#infoboks{;
    background-color: gainsboro;
    border:2px;
    height: 150px;
    width: 1280px;
    bottom: -50px;
    position: relative;
    width: 100%;
    border-style: solid;
    padding:10px;
    float: bottom;
}

#hovedmenu {
    height: 30px;
    width: 1280px;

}


input {
    display: block;
    width: 15%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: black;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}



.hjemknap {
    background-color: lightgray;
    height: 30px;
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 30px;
    box-shadow: 1px 1px 1px white;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
}
.knap {
    background-color: white;
    border: none;
    color: black;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px #808788;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;

}

.inputtilallergier{
    display: block;
    width: 15%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: black;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;

}
.tilbagetilBørn {
    background-color: white;
    border: none;
    color: black;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px #808788;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;

}

.opretBarn {
    text-align: center;
}

div.forældre {
    float: right;
    height: 50%;
    width: 50%;
    background-color: gray;

}

.loginknap{
    background-color: lightseagreen;
    border: none;
    color: black;
    position:absolute; top:0; right:0;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px #808788;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;

}
table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    /*padding: 8px;*/
    padding: 5px 8px 5px 8px;
}
td a:nth-of-type(2){
    background-color:green;
}
td a:nth-of-type(3){
    background-color:red;
}