.body{
    background-color:lightgray;
}

#childinfo {
    background-color: lightgrey;
    border-style: solid;
    width: 600px;
    height:300px;
    float: right;

}

#allergicinfo {
    background-color: gray;
    height: 50%;
    width: 50%;
}

#boxmiddel {
    background-color: gainsboro;
    height: 500px;
    width: 200px;
}

#inboxs {
    color: gold;
    height: 200px;
    width: 100px;
    border-style: solid;

}

#infoboks{
    background-color: gainsboro;
    height: 150px;
    width: 100%;
    border-style: solid;

}

#hovedmenu {
    height: 30px;
    width: 1280px;

}


input {
    display: block;
    width: 15%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: black;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}



.hjemknap {
    background-color: lightgray;
    height: 30px;
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 30px;
    box-shadow: 1px 1px 1px white;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
}
.knap {
    background-color: white;
    border: none;
    color: black;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px #808788;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;

}

.inputtilallergier{
    display: block;
    width: 15%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: black;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;

}
.tilbagetilBørn {
    background-color: white;
    border: none;
    color: black;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px #808788;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;

}

.opretBarn {
    text-align: center;
}

div.forældre {
    float: right;
    height: 50%;
    width: 50%;
    background-color: gray;

}