<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/Style.css"/>

</head>
<body>


<div id="hovedmenu">
    <button type="button" class="hjemknap" href> Roskilde Frie Børnehave</button>
    <button type="button" class="knapper">Forside</button>
    <button type="button" class="knapper">Om</button>
    <button type="button" class="knapper">Kontakt</button>
    <button type="button" class="knapper" >Børn</button>
    <button type="button" class="knapper">Vagtplan</button>
</div>



<DIV id="childinfo">

    <a type="button"  class="tilbagetilBørn" href="forside.html">Tilbage til børn</a>
    <h3> Register barn</h3>

    <p1>forældre</p1>
    <input> </input>
    <p1>far</p1>
    <input> </input>>
    <p1>mor</p1>
    <input> </input>


    <DIV id="allergicinfo">
        <input> </input>
        <input> </input>
        <input> </input>
    </DIV>



</div>
<div></div>
<a type="button" class="tilbagetilBørn" href="https://9gag.com/gag/aq12vNR">Tilbage til børn</a>
<h3> Register barn</h3>

<p>Fornavn;</p>
<input> </input>
<p>Efternavn;</p>
<input> </input>
<p>Alder; </p>
<input> </input>
<p>Tlf;<br></p>
<input> </input>


<div id="infoboks">
    <p>Roskilde frie børnehave: <br></p>
    <p>E-mail: RoskildeFrieBørnehave @outlook.com</p>
    <p>Tlf. 26 26 26 26</p>
    <p align=" middle">Adresse: adresse 00 0000 kommune</p>
    <p align="right">Ansvarlig: Sandra Madsen </p>
    <p align="right">E-mail: SandraMadsen@outlook.com</p>
    <p align="right">Tlf. 27 27 27 27</p>
</div>

</a>

</body>
</html>