<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <h1>Den Frie Børnehave</h1>
    <nav>
        <ul>
            <li><a href="index.html">Forside</a></li>
            <li><a href="om.html">Om</a></li>
            <li><a href="kontakt.html">Kontakt</a></li>
            <li><a href="boern.html">Børn</a></li>
            <li><a href="vagtplan.html">Vagtplan</a></li>
            <li><a href="telefonliste.html">Telefonliste</a></li>
        </ul>
    </nav>
</header>

<h2>Børn</h2>

<a href="opretBarn.html">Opret nyt barn</a>

<table>
    <thead>
    <tr>
        <th>Navn</th>
        <th>Klasse</th>
        <th>Administrer</th>
        <th>Billede</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            Hans Hansen
        </td>
        <td>Bamse</td>
        <td><a href="detajler.html">Detajler</a><a href="rediger.html">Rediger</a><a href="Slet">Slet</a></td>
        <td><img src="http://i0.kym-cdn.com/entries/icons/original/000/019/367/gollum_395_394.jpg" alt=""/></td>
    </tr>
    </tbody>
</table>
</body>
</html>