<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Tilmeld Børn</title>
    <link rel="stylesheet" type="text/css" th:href="@{Style.css}" href="Style.css" />
</head>
<body>
<h1> Tilmeld børn</h1>
<form method="Post" th:action="@{/Create}">
    <label>Fornavn: </label>
    <input type="text" th:field="${barn.firstName}" required="true"/>
    <label>Efternavn: </label>
    <input type="text" th:field="${barn.lastName}" required="true"/>
    <label>Forældre: </label>
    <input type="text" th:field="${barn.farthersName}" required="true"/>
    <label>Forældre: </label>
    <input type="" th:field="${barn.mothersName}" required="true"/>
    <label>Fødselsdagsdato: </label>
    <input type="Date" th:field="${barn.dateOfBirth}" required="true"/>
    <label>Allergier: </label>
    <input type="text" th:field="${barn.allergies}" required="true"/>
    <input type="submit" value="Send"/>
</form>

</body>
</html>