<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Vis forældre</title>
    <link rel="stylesheet" href="Custom.css"/>
    <link rel="stylesheet" href="Style.css"/>

</head>
<body>

<hr/>
<form method="post" th:action="@{/editforældre}">
    <label>fars navn: </label>
    <input type="text" th:field="${Parent.Farsnavn}" required="true"/>
    <label>fars efternavn: </label>
    <input type="text" th:field="${Parent.FEfternavn}" required="true"/>
    <label>adresse: </label>
    <input type="text" th:field="${Parent.Adresse}" required="true"/>
    <label>opgang: </label>
    <input type="text" th:field="${Parent.Opgang}" required="true"/>
    <label>post nummer: </label>
    <input type="number" th:field="${Parent.Postnummer}" required="true"/>
    <label>fars Mobil: </label>
    <input type="number" th:field="${Parent.Ftelefon}" required="true"/>
    <label>Mor navn: </label>
    <input type="text" th:field="${Parent.Morsnavn}" required="true"/>
    <label>Mor efternavn: </label>
    <input type="text" th:field="${Parent.Mefternavn}" required="true"/>
    <label>Mor Mobil: </label>
    <input type="number" th:field="${Parent.Morstelf}" required="true"/>
    <input type="submit" value="tilbage">


    <hr/>

</form>
</body>
</html>