<!DOCTYPE html>
<html lang="en" xmlns:th="Http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{Style.css}" href="../static/Style.css" />

</head>
<body>
<h2>Børn i Børnehaven</h2>
<a href="Create.html" class=".btn" >
<button style="color:chartreuse" > Create</button>
</a>

<table>
    <thead>
    <tr>

        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>fathers Name</th>
        <th>mothers Name</th>
        <th>date of birth</th>
        <th>allergies</th>
        <th></th>

    </tr>
    </thead>
    <tbody>


    <tr th:each="barn: ${barnArray}">
        <td th:text="${student.id}"/>
        <td th:text="${student.firstName}"/>
        <td th:text="${student.lastName}"/>
        <td th:text="${student.farthersName}"/>
        <td th:text="${student.mothersName}"/>
        <td th:text="${student.dateOfBirth}"/>
        <td th:text="${student.allergies}"/>

        <td>

            <button type="button" class=".btn-details">Details</button>
            <button type="button" class=".btn-ed">edit</button>
            <button type="button" class=".btn-del">delete</button>

        </td>
    </tr>
    </tbody>
</table>


</body>
</html>