<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="../static/Custom.css"/>

    <button type="button" class="hjemknap" href> Roskilde Frie Børnehave</button>
    <button type="button" class="knapper">Forside</button>
    <button type="button" class="knapper">Om</button>
    <a href="TilmeldBarn.html"class="knapper"  >
        <button type="button"  >Tilmeldbarn</button>
    </a>
    <button type="button" class="knapper">Kontakt</button>
    <button type="button" class="knapper">Vagtplan</button>
    <a href="Visbarn">
        <button type="button" class="loginknap">Visbarn</button>
    </a>
</head>



<body>

<h3>velkommen til Roskilde Frie Børnehave </h3>

<img src="Kindergarten.jpg" height="400" width="1150"/>
<div id="infoboks">
    <p>Roskilde frie børnehave:
        <br>E-mail: RoskildeFrieBørnehave @outlook.com
        <br>Tlf. 26 26 26 26 </p>


    <p1 align="right">
        Ansvarlig: Sandra Madsen
        <br>E-mail: SandraMadsen@outlook.com
        Tlf. 27 27 27 27</p1>
</div>
</body>
</html>