<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="Style.css"/>
</head>
<body>

<header>
    <nav>
        <a href="Visbarn">Vis børn</a>
        <a href="Medarbejdere">ansatte</a>
        <a href="Venteliste">Vente liste</a>
    </nav>
</header>

<h3>velkommen til Roskilde Frie Børnehave </h3>
<img src="Kindergarten.jpg" height="400" width="1150"/> </img>


<div id="infoboks">
    <p>Roskilde frie børnehave:
        <br>E-mail: RoskildeFrieBørnehave @outlook.com
        <br>Tlf. 26 26 26 26 </p>


    <p1 align="right">
        Ansvarlig: Sandra Madsen
        <br>E-mail: SandraMadsen@outlook.com
        Tlf. 27 27 27 27
    </p1>
</div>
</body>
</html>