<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>tilmeld Barn</title>
    <link rel="stylesheet" href="../static/style.css"/>
</head>
<body>
<h1>Opret Barn</h1>
<form method="Post" th:action="@{/OpretBarn}">
    <label>Fornavn: </label>
    <input type="text" th:field="${child.firstName}" required="true"/>
    <label>Efternavn: </label>
    <input type="text" th:field="${child.lastName}" required="true"/>
    <label>Forældre: </label>
    <input type="text" th:field="${child.fathersName}" required="true"/>
    <label>Forældre: </label>
    <input type="" th:field="${child.mothersName}" required="true"/>
    <label>Fødselsdagsdato: </label>
    <input type="Date" th:field="${child.dateOfBirth}" required="true"/>
    <label>Allergier: </label>
    <input type="text" th:field="${child.allergies}" required="true"/>
    <input type="submit" value="Send"/>
</form>

</body>
</html>
