<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">

    <title>Create Students</title>
    <link rel="stylesheet" type="text/css" th:href="@{Style.css}" href="Style.css" />
</head>
<body>
<h1>Opret barn</h1>
<form method="Post" th:action="@{/OpretBarn}">
    <label>Barns id: </label>
    <input type="text" th:field="${child.id}"/><br/><br/>
    <label>Fornavn: </label>
    <input type="text" th:field="${child.firstName}"/><br/><br/>
    <label>Efternavn: </label>
    <input type="text" th:field="${child.lastName}"/> <br/><br/>
    <label>Forældre: </label>
    <input type="text" th:field="${child.parents}"/><br/><br/>
    <label>Forældre: </label>
    <input type="text" th:field="${child.parents}"/><br/><br/>
    <label>Fødselsdagsdato: </label>
    <input type="text" th:field="${child.dateOfBirth}"/><br/><br/>
    <label>Allergier: </label>
    <input type="text" th:field="${child.allergies}"/><br/><br/>
    <label>Allergier: </label>
    <input type="text" th:field="${child.allergies}"/><br/><br/>
    <label>Allergier: </label>
    <input type="text" th:field="${child.allergies}"/><br/><br/>
    <label>Billede: </label>
    <br> <br/>
    <input type="submit" value="Send"/>
</form>
</body>
</html>




