<!DOCTYPE html>
<html lang="en" xmlns:th="Http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{Style.css}" href="../static/Style.css" />

</head>
<body>
<h2>Børn i Børnehaven</h2>
<a href="TilmeldBarn.html" class=".btn" >
<button style="color:chartreuse" > Create</button>
</a>

<table>
    <thead>
    <tr>

        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Fathers Name</th>
        <th>Mothers Name</th>
        <th>Date of birth</th>
        <th>Allergies</th>
        <th></th>

    </tr>
    </thead>
    <tbody>

    <tr th:each="barn: ${barnArray}">
        <td th:text="${barnArray.id}"/>
        <td th:text="${barnArray.firstName}"/>
        <td th:text="${barnArray.lastName}"/>
        <td th:text="${barnArray.farthersName}"/>
        <td th:text="${barnArray.mothersName}"/>
        <td th:text="${barnArray.dateOfBirth}"/>
        <td th:text="${barnArray.allergies}"/>

        <td>

            <button type="button" class=".btn-details">Details</button>
            <button type="button" class=".btn-ed">Edit</button>
            <button type="button" class=".btn-del">Delete</button>

        </td>
    </tr>
    </tbody>
</table>

</body>
</html>